<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RichEditor"
        tools:targetApi="31">
        <activity
            android:name=".activity.SetLockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UnLockActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecurityQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />

        <service
            android:name=".service.BackgroundUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainContentActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>